html,
body.download-panel-overlay-root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent !important;
  user-select: none;
}

#downloadPanelBackdrop {
  position: fixed;
  inset: 0;
  background: transparent;
}

.download-panel-overlay-root #downloadPanel {
  position: absolute;
  top: 6px;
  bottom: auto !important;
  right: 0;
  display: flex;
}
